.hives, .hive{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
// .hive{
//     color:#1044a4;
// }
// p{
//     color:grey;
// }
h2{
    text-align: center;
}